@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Shippori Mincho', serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

#progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #46b077;
    z-index: 10; 
}

#progress-img {
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 5px;
    z-index: 15;
    transition: left 0.25s ease-out;
}

/* First Section */

section {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
}

.first-section {
    background-image: url('/img/demonslayer.png');
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    background-color: #4b2d2d;
    width: 100%;
    height: 40px;
    padding: 35px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 100;
}

.hide-header {
    top: -100%;
}

header img {
    max-height: 40px;
    height: auto;
    width: auto;
    margin: 0 30px 0 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 20px 0 0;
    color: #eeeeed;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

header nav ul li a::after {
    content: '';
    display: block;
    margin: auto;
    width: 0;
    height: 2px; 
    background: #eeeeed;
    transition: width 0.5s ease;
}

header nav ul li a:hover::after {
    width: 100%; 
}

header nav ul li a.active::after {
    width: 100%;
}
  
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #eeeeed;
    padding: 0 5%;
}

.content .logo img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 5px #eeeeed);
}

/* Second Section - Respirações */

.second-section {
    background-image: url('/img/background.png');
    padding: 0.5% 0 2% 0;
    background-size: cover;
}

.third-section {
    background-image: url('/img/background-3.jpg');
    background-size: cover;
    padding: 0.5% 0 0 0;
}

.fourth-section {
    background-image: url('/img/background-kizuki.png');
    background-size: cover;
    padding: 0.5% 0 0 0;
    background-color: #22201f;
}

.fifth-section {
    padding: 0.5% 0 13% 0;
    background-image: url('/img/background.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #22201f;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    color: #eeeeed;
}

.info img {
    max-width: 400px;
    height: auto;
}

.info p, .info img {
    flex: 1;
    padding: 0 10px;
}

.info p {
    margin: 1% auto;
    text-align: justify;
    color: #eeeeed;
    font-size: 1em;
}

h2 {
    margin: 0 auto 1% auto;
    text-align: center;
    color: #eeeeed;
    font-size: 2em;
} 

h3 {
    display: flex;
    justify-content: center;
    color: #eeeeed;
}

hr {
    width: 50%;
    margin: 1% auto;
}

footer {
    background-color: #000000;
    padding: 1% 0 1% 0;
    width: 100%;
    clear: both;
    position: absolute;
    bottom: 0;
}

footer h3 {
    color: white; 
    margin: 1% 0 1% 0; 
    padding: 0;
    text-align: center; 
}

footer .icons {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer .icons a {
    margin: 0.3% 0 0 1%;
}

footer .icons img {
    height: 40px; 
    width: 40px; 
    filter: invert(100%);
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px 20px 0;
    filter: drop-shadow(0 0 5px #eeeeed);
}

.fourth-section .images {
    padding: 0;
} 

.img {
    height: 270px; 
    width: 330px; 
    margin: 1% 0 2% 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%); 
    transition: filter 0.3s ease;
}

.hashira-bg {
    position: relative;
    height: 100%;
    width: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img img {
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px #eeeeed);
    max-width: 100%;
    max-height: 100%;
}

.img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px 20px 0;
}

.icon {
    height: 200px; 
    width: 330px; 
    margin: -2% 0 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.icon svg {
    margin: 0 0 5% 0;
    height: 30%;
    width: auto;
    object-fit: contain;
    fill: #000000;
    transition: fill 0.3s ease;
    filter: drop-shadow(0 0 5px #eeeeed);
}

.title {
    color: #000000; 
    transition: color 0.3s ease; 
    filter: drop-shadow(0 0 5px #eeeeed);
}

.icon:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

.icon:hover svg {
    filter: drop-shadow(0 0 0);
    height: 40%;
    transition: 0.5s ease-in-out;
    fill: #eeeeed;
}

.icon:hover .title {
    color: #eeeeed;
}


.title {
    position: absolute;
    top: 85%;
    left: 50%;
    height: 60px;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: #863841;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeed;
    text-align: center;
    font-size: 1em; 
    border: 2px solid #eeeeed; 
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #863841;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 45%;
}

.modal-content p {
    text-align: justify;
    font-size: 1.2em;
    color: #eeeeed;
}

#modal-title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 20px 0;
    color: #eeeeed;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    position: relative;
    filter: drop-shadow(0 0 5px #eeeeed);
    border-bottom: #46b077 1px solid;
    padding-bottom: 2%;
    align-items: center;
    width: 100vw;
    height: 300px;
}

.carousel-items {
    display: flex;
    align-items: center;
    will-change: transform;
    transition: transform 0.5s ease;
}

.carousel-img {
    box-sizing: border-box;
    margin: 0 3%;
    flex: 0 0 auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
}

.carousel-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.carousel-img.active {
    opacity: 1;
    transform: scale(1);
}

.person-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5%;
    color: #eeeeed;
}

.person-description .name h3 {
    font-size: 24px;
    font-weight: bold;
}

.person-description p {
    margin: 0 auto 2% auto;
    font-size: 16px;
    width: 60%;
    color: #eeeeed;
}

#carousel-indicators {
    text-align: center;
    padding: 0.5% 0 0 0;
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eeeeed;
    margin: 0 0.2%;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #eeeeed;
}

.menu-hamburguer {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px; 
    height: 25px;
    z-index: 1001;
}

.menu-hamburguer span {
    display: block;
    height: 4px;
    background: #eeeeed;
    border-radius: 2px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .first-section {
        background-attachment: fixed;
        background-image: url('/img/background-phone.jpg');
        background-blend-mode: multiply;
        background-color: #22201f;
    }

    .menu-hamburguer {
        display: flex;
        position: fixed;
        top: 4%;
        right: 20px;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 25px;
        z-index: 1001;
    }

    .menu-hamburguer span {
        display: block;
        height: 4px;
        background: #eeeeed;
        border-radius: 2px;
        transition: all 0.3s;
    }
    
    header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 13%;
        z-index: 1000;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo-header {
        margin-top: 5px;
    }

    .mobile-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #4b2d2d;
        transition: all 0.3s;
        z-index: 1000;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }

    header nav ul li a {
        padding: 10px;
        color: #eeeeed;
        text-decoration: none;
    }

    header nav ul li a {
        display: block;
        padding: 10px;
        color: #eeeeed;
        text-decoration: none;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 5%;
        margin: 0 auto;
    }

    .logo img {
        max-width: 25%;
        max-height: 25%;
        position: absolute;
        top: 70%;
        height: auto;
        filter: drop-shadow(0 0 5px #eeeeed);
    }

    .menu-hamburguer {
        display: flex;
    }

    h2 {
        margin-top: 2%;
    }

    .second-section .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30%;
    }

    .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        justify-content: flex-start;
        height: 10%;
    }
    
    .icon {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: grayscale(0%);
    }

    .icon:hover svg {
        transition: 0.5 ease-in-out;
        fill: #000;
        filter: drop-shadow(0 0 5px #eeeeed);
    }
      
    .title {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .third-section .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30%;
    }

    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        justify-content: flex-start;
        height: 10%;
    }

    .img {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: grayscale(0%);
    }

    .fourth-section h2{
        margin: 5% auto;
    }

    .superiors {
        margin: 5% auto;
    }

    .person-description p {
        font-size: 14px;
        width: 90%;
        color: #eeeeed;
    }

    footer {
        position: absolute;
        bottom: -15%;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #863841;
        margin: 30% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 60%;
    }
    
    .modal-content p {
        text-align: justify;
        font-size: 0.9em;
        color: #eeeeed;
    }
    
    #modal-title {
        text-align: center;
        font-size: 1em;
        margin: 20px 0 20px 0;
        color: #eeeeed;
    }
}

@media (min-width: 450px) and (max-width: 768px) {
    .first-section {
        background-attachment: fixed;
        background-image: url('/img/background-phone2.jpg');
        background-blend-mode: multiply;
        background-color: #22201f;
    }

    .third-section .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10%;
    }

    .modal-content {
        background-color: #863841;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 40%;
    }
}

@media (min-width: 769px) {
    footer {
        position: absolute;
        bottom: -10%;
    }
}